@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;900&display=swap');
*{
	font-family: 'Noto Sans', sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	margin: 0;
}
header{
	background-image: url(../img/innsbruck1.png);
	padding: 240px 0;
	background-repeat: no-repeat;
	background-size: cover;
}
footer{
	background-color: #B5D4C5;
	padding: 35px 0;
}
h1{
	font-size: 60px;
	color: white;
}
h2{
	font-size: 37px;
	color: #2A3D8F;
}
h3{
	font-size: 30px;
}
.about-list{
	list-style: "✓ ";
}
.logo{
	width: 75px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.nav-content{
	display: flex;
	margin-top: 10px;
}
.menu{
	display: flex;
	list-style: none;
	flex-grow: 1;
	justify-content: space-around;
	align-items: center;
}
.menu a{
	display: block;
	font-size: 24px;
	padding: 5px;
	border: 1px solid transparent;
	transition: 1s;
}
.menu a:hover{
	border: 1px solid #B5D4C5;
}
.footer-content{
	display: flex;
	justify-content: space-between;
}
.socials{
	display: flex;
	list-style: none;
}
.socials li{
	margin: 0 10px;
}
.ads{
	background-image: url(../img/skier.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 30%;
	display: flex;
	flex-direction: column;
}
.ads p{
	font-size: 2vw;
	margin: 0;
}
.ads a{
	background-color: white;
	color: black;
	display: inline-block;
	padding: 10px 10px;
	margin-top: 60px;
	align-self: flex-end;
	opacity: 0.7;
}
.wrapper{
	display: flex;
	justify-content: space-between;
}
.weather-graph{
	display: flex;
	flex-direction: column;
	border: 1px solid #CCCCCC;
}
.weather-graph figcaption{
	text-align: center;
	background-color: rgb(124, 124, 124);
	color: white;
	font-size: 22px;
	padding: 5px;
}
.gallery-list{
	display: flex;
	flex-direction: column;
	padding: 0;
}
.gallery-list li{
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #B5D4C5;
	color: white;
	margin-bottom: 10px;
}
.gallery-list h3{
	flex-grow: 1;
}
.gallery-list img{
	max-width: 70%;
}
.transport, .mini-table table{
	margin: 10px auto;
	border-collapse: collapse;
}
.transport thead, .mini-table thead{
	background-color: rgb(32, 46, 92);
	color: white;
}
.transport td, .transport th, .mini-table td, .mini-table th{
	border: 1px solid #333333;
	padding: 5px;
	text-align: center;
}
.mini-table{
	display: none;
}